{% extends 'app/base.html' %}

{% load knockout_tags %}
{% load add_css %}

{% block title %}Persons Form - {% endblock %}

{% block content %}

    <h1>Django</h1>

    <p>Static</p>

    <div>
        <form method="POST">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <h1>Django Knockout</h1>

    <h2>Manual</h2>

    <p>Dynamic, this method is for fine grain manipulation of form template (can also use KnockoutModelForm and skip using the data_bind templatetag)</p>

    <div id="person_object">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.errors }}
                    {% if not field.is_hidden %}
                        {{ field.label_tag }}
                    {% endif %}
                    {% data_bind field as data_bind %}
                    {{ field|add_css:data_bind }}
                </p>
            {% endfor %}
            <p>
                First Name (Duplicate): <input data-bind="value: first_name">
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>

    <h2>Automatic</h2>

    <p>Dynamic, default form rendering with KnockoutModelForm</p>

    <div id="automatic">
        <form method="POST">
            {% csrf_token %}
            {{ knockout_form.as_p }}
            <p>
                First Name (Duplicate): <input data-bind="value: first_name">
            </p>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script type="text/javascript">
        {% knockout person_class disable_ajax_data=True is_list=False %}

        {% knockout_bindings person_class element_id="automatic" disable_ajax_data=True is_list=False %}
    </script>

{% endblock content %}
