<!DOCTYPE html>
<html lang="en">
<head>
    <title>Without Django Rest Framework - Django Knockout</title>
</head>
<body>

    <div>
        <a href="{% url 'app:persons' %}">Persons Objects</a>
        {% if not person %}
            Please create a person before using the UpdateView.
        {% else  %}
            <a href="{% url 'app:persons_form' person.pk %}">Persons Form</a>
        {% endif %}
        <a href="{% url 'app:persons_formset' %}">Persons Formset</a>
    </div>
    <br />
    <div>
        <a href="{% url 'app:schedule' %}">Schedule Objects (ForeignKey)</a>
    </div>
    <br />
    <div>
        <a href="{% url 'app:shopping' %}">
            Shopping List Objects (ManyToMany)
    </a>
    </div>
    <br />
    <div>
        <a href="{% url 'app:multiple_models' %}">Multiple Models Objects</a>
    </div>

</body>
</html>
