{% extends 'app/base.html' %}

{% load knockout_tags %}

{% block title %}Persons Objects - {% endblock %}

{% block content %}

    <h1>Django</h1>

    <p>Static, requires reloading page for changes</p>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.first_name }}</td>
                <td>{{ person.last_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Django Knockout</h1>

    <h2>Regular</h2>

    <p>Dynamic, every change can easily be tracked, but no Django template tag access</p>

    <div id="personviewmodel">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>First Name (Duplicate)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: persons">
                <tr>
                    <td><input data-bind="value: id" /></td>
                    <td><input data-bind='value: first_name, valueUpdate: "afterkeydown"' /></td>
                    <td><input data-bind="value: last_name" /></td>
                    <td><input data-bind="value: first_name" /></td>
                    <td><button data-bind='click: $root.removePerson'>Remove a Person</button></td>
                </tr>
            </tbody>
        </table>
        <p>
            Count: <span data-bind='text: persons().length'></span>
            <button data-bind='click: addPersonViewModel'>Add a Person</button>
            <button data-bind='click: sortPersonViewModelsAsc'>Sort Asc</button>
            <button data-bind='click: sortPersonViewModelsDesc'>Sort Desc</button>
        </p>
    </div>

    <h2>Pre-rendered</h2>

    <p>Dynamic, every change can easily be tracked, and has access to Django template tags</p>

    <div id="prerendered">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>First Name (Duplicate)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreachInit: { data: persons, createElement: createPersonViewModel }">
                <tr data-template>
                    <td><input data-bind="value: id"></td>
                    <td><input data-bind="value: first_name, valueUpdate: 'afterkeydown'"></td>
                    <td><input data-bind="value: last_name"></td>
                    <td><input data-bind="value: first_name"></td>
                    <td><button data-bind='click: $root.removePerson'>Remove a Person</button></td>
                </tr>
                {% for person in persons %}
                <tr data-init>
                    <td><input data-bind="init, value: id" value="{{ person.id }}"></td>
                    <td><input data-bind="init, value: first_name, valueUpdate: 'afterkeydown'" value="{{ person.first_name }}"></td>
                    <td><input data-bind="init, value: last_name" value="{{ person.last_name }}"></td>
                    <td><input data-bind="value: first_name"></td>
                    <td><button data-bind='click: $root.removePerson'>Remove a Person</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            Count: <span data-bind='text: persons().length'></span>
            <button data-bind='click: addPersonViewModel'>Add a Person</button>
            <button data-bind='click: sortPersonViewModelsAsc'>Sort Asc</button>
            <button data-bind='click: sortPersonViewModelsDesc'>Sort Desc</button>
        </p>
    </div>

    <script type="text/javascript">
        {# can be utilized with django rest framework OPTIONS method via knockout/metadata.py #}
        {# required to create new persons #}
        var person_fields = {
            'id': null, 'first_name': null, 'last_name': null,
        };

        {# regular ko, data needs to be accessible by ajax or rendered into a js var #}
        {% knockout persons element_id="personviewmodel" %}

        {# can be utilized with django rest framework to get all persons via ajax #}
        var persons = [
            {% for person in persons %}
                {
                    id: "{{ person.id }}",
                    first_name: "{{ person.first_name }}",
                    last_name: "{{ person.last_name }}",
                },
            {% endfor %}
        ];
        var personviewmodel = ko.dataFor(
            document.getElementById('personviewmodel')
        );
        persons_observable_array = ko.mapping.fromJS(persons);
        personviewmodel.persons(persons_observable_array());

        {# prerendered via django templates ko #}
        {% knockout_bindings person_class element_id="prerendered" %}
    </script>

{% endblock content %}
