{% extends 'app/base.html' %}

{% load knockout_tags %}

{% block title %}Schedule Objects (ForeignKey) - {% endblock %}

{% block content %}

    <h1>Django</h1>

    <p>Static</p>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Task</th>
                <th>Day</th>
                <th>Reminder</th>
                <th>Reminder Type</th>
            </tr>
        </thead>
        <tbody>
            {% for task in schedule %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.task }}</td>
                <td>{{ task.day.day }}</td>
                <td>{{ task.reminder.reminder }}</td>
                <td>{{ task.reminder.reminder_type.reminder_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h1>Django Knockout</h1>

    <p>Dynamic, supports spanning ForeignKeys</p>

    <div id="taskviewmodel">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Day</th>
                    <th>Reminder</th>
                    <th>Reminder Type</th>
                    <th>Task (Duplicate)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: tasks">
                <tr>
                    <td><input data-bind="value: id" /></td>
                    <td><input data-bind='value: task, valueUpdate: "afterkeydown"' /></td>
                    <td><input data-bind="value: day.day" /></td>
                    <td><input data-bind="value: reminder.reminder" /></td>
                    <td><input data-bind="value: reminder.reminder_type.reminder_type" /></td>
                    <td><input data-bind="value: task" /></td>
                    <td><button data-bind='click: $root.removeTask'>Remove a Task</button></td>
                </tr>
            </tbody>
        </table>
        <p>
            Count: <span data-bind='text: tasks().length'></span>
            <button data-bind='click: addTaskViewModel'>Add a Task</button>
            <button data-bind='click: sortTaskViewModelsAsc'>Sort Asc</button>
            <button data-bind='click: sortTaskViewModelsDesc'>Sort Desc</button>
        </p>
    </div>

    <script type="text/javascript">
        {# can be utilized with django rest framework OPTIONS method via knockout/metadata.py #}
        {# required to create new tasks #}
        var task_fields = {
            id: null,
            task: null,
            day: {
                day: null,
            },
            reminder: {
                reminder: null,
                reminder_type: {
                    reminder_type: null,
                },
            },
        };

        {# regular ko, data needs to be accessible by ajax or rendered into a js var #}
        {% knockout schedule %}

        {# can be utilized with django rest framework to get all persons via ajax #}
        var tasks = [
            {% for task in schedule %}
                {
                    id: '{{ task.id }}',
                    task: '{{ task.task }}',
                    day: {
                        day: '{{ task.day.day }}',
                    },
                    reminder: {
                        reminder: '{{ task.reminder.reminder }}',
                        reminder_type: {
                            reminder_type:
                                '{{ task.reminder.reminder_type.reminder_type }}',
                        },
                    },
                },
            {% endfor %}
        ];
        var taskviewmodel = ko.dataFor(
            document.getElementById('taskviewmodel')
        );
        tasks_observable_array = ko.mapping.fromJS(tasks);
        taskviewmodel.tasks(tasks_observable_array());
    </script>

{% endblock content %}
