<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}Django Knockout</title>

        <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-debug.js'></script>
        <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout.mapping/2.4.1/knockout.mapping.min.js'></script>
        <script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/knockout-pre-rendered/0.5.0/knockout-pre-rendered.min.js'></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
